@import '@/styles/base/variables';
.search__bar {
  display: flex;
  .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .search__box {
      align-self: flex-end;
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      h2 {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 5px;
        padding: 0.05rem 0.3rem;
        font-size: 1.3rem;
        font-weight: 700;
      }
      form {
        input {
          padding: 0.4rem 0.5rem 0.4rem 0.8rem;
          font-size: 0.95rem;
          outline: none;
          border: 1px solid $color-gray;
          border-radius: 5px;
        }
      }
    }
  }
}
