@import '@/styles/base/variables';
.episodes__section {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media screen and (max-width: $large-screen) {
    width: 100%;
  }
  h3 {
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  div {
    padding: 1rem;
    border-radius: 5px;
    @media screen and (max-width: $small-screen) {
      overflow-x: scroll;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      th,
      td {
        vertical-align: middle;
        padding: 10px;
      }
      thead {
        th:nth-child(1) {
          width: 70%;
        }

        th:nth-child(2),
        th:nth-child(3) {
          width: 15%;
        }
      }
      tbody {
        tr {
          vertical-align: middle;
        }
        tr:nth-child(odd) {
          background-color: #f2f2f2; /* Fondo gris para filas impares */
        }
        tr:nth-child(even) {
          background-color: $color-white; /* Fondo blanco para filas pares */
        }
      }
    }
  }
}
