@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap';

$color-primary: #3074ac;
$color-primary-light: #68889e;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #a7a7a7;
$font-family: 'Raleway', sans-serif;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$large-screen: 992px;
$small-screen: 576px;

$transition: all 0.4s ease;
